.nav-edit {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.blockChain-wrap {
    background-color: #fff;
}

.bcClassification-wrap {
    width: 750px;
    background-color: #f8f8f8;
}

.bcClassification {
    margin-left: 30px;
    margin-right: 30px;
    width: 690px;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bc-tit {
    font-size: 24px;
    color: #888888;
}

.bcName-tit {
    /*width: 490px;*/
    flex: 2;
}

.bcAlgorithm-tit {
    /*width: 150px;*/
    flex: 1;
}

.bcLevel-tit {
    /*width: 50px;*/
    flex: 1;
    text-align: right;
}

.bc-detail-wrap {
    padding-left: 30px;
    padding-right: 30px;
}

.bc-wrap {
    width: 690px;
    height: 150px;
    border-bottom-width: 1px;
    border-color: #e5e5e5;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bc-header {
    /*width: 490px;*/
    flex: 2;
    justify-content: flex-start;
}

.bc-algorithm {
    /*width: 150px;*/
    flex: 1;
    font-size: 30px;
    color: #000;
}

.bc-link {
    flex: 1;
    font-size: 30px;
    color: #000;
    text-align: right;
}