.mesg-wrap {
    width: 690px;
}

.user {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    color: #0066cc;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #222;
    lines: 2;
    margin-bottom: 10px;
    line-height: 45px;
}

.article-content {
    font-size: 32px;
    color: #222;
    lines: 4;
    line-height: 45px;
}

.article-content-notit {
    font-size: 32px;
    line-height: 45px;
    color: #222;
}

.article-img-wrap {
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article-img-group {

}

.article-img-box {
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.article-img-item {
    width: 220px;
    height: 220px;
}