.mesg-wrap {
    width: 690px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user {
    font-size: 32px;
    color: #555;
}

.content {
    margin-top: 10px;
    font-size: 32px;
    color: #555;
}